<div class="card-header header"><h3>Mortgage</h3></div>
<div class="container align-items-center">
  <br />
  <div class="card ms-5" style="width: 30rem;">
    <div class="card-header">Mortgage Calculator</div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label for="customRange3" class="form-label">Purchase price:</label>
          <div class="range">
            <input
              type="range"
              bgThumbColor="blueviolet"
              class="form-range"
              min="0"
              max="5"
              step="0.5"
              id="customRange3"
            />
          </div>
        </div>
        <div class="col">
          <label for="customRange3" class="form-label">Down payment:</label>
          <div class="range">
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              step="0.5"
              id="customRange3"
            />
          </div>
        </div>
        <div class="col">
          <label for="customRange3" class="form-label">Repayment time:</label>
          <div class="range">
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              step="0.5"
              id="customRange3"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <label for="customRange3" class="form-label">Interest rate</label>
          <div class="range">
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              step="0.5"
              id="customRange3"
            />
          </div>
        </div>
        <div class="col">Loan amount</div>
        <div class="col">Estismated pr. month</div>
      </div>
    </div>
  </div>
</div>
